body{
    background-color: rgb(230, 221, 221);
    color: rgb(224, 224, 30);
    font-family: sans-serif;
    text-align: center;
}

h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 30px;
}
.container{
    margin: 15px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border-color: rgb(66, 167, 96);
    background-color: rgb(39, 192, 25);
    height:max-content
}
p{
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
    text-align: center;
    color: rgb(217, 223, 217);
}
#task{
    margin-left: 20px;
    height: 30px;
    width: 320px;
}
#addtask{
    background-color: rgb(127, 211, 138);
    border: 0;
    color: rgb(20, 20, 20);
    padding: 10px 10px;
    padding-right: 40px;
    cursor: pointer;
    margin-top: 35px;
    text-align: center;
}
.remove{
    margin-top: 13px;
    background-color: rgb(166, 221, 159);
    float: right;
    clear: both;
    padding-right:20px;
    border-radius: 5px;
    width: 60px;
    height: 20px;
    border-style: none;
}
ul{
    list-style: none;
    text-align: left;
    line-height: 35px;
}